{
	"discord": {
		"token": "DISCORD_BOT_TOKEN",
		"clientId": "DISCORD_CLIENT_ID",
		"guildId": "DISCORD_GUILD_ID",
		"ownerId": "DISCORD_OWNER_ID"
	},
	"backend": {
		"port": 3000,
		"aes": "VERIFY_REQUEST_AES_TOKEN",
		"ssl": {
			"enabled": false,
			"key": "SSL_KEY",
			"cert": "SSL_CERT"
		}
	},
	"oauth": {
		"baseUrl": "http://localhost:3000",
		"discord": {
			"client_id": "OAUTH_CLIENT_ID",
			"client_secret": "OAUTH_CLIENT_SECRET",
			"role": "VERIFY_SUCCESS_ROLE",
			"veribuLog": "LOGGING_CHANNEL"
		},
		"twitter": {
			"callback_url": "http://localhost:3000/oauth2/twitter",
			"client_id": "TWITTER_CLIENT_ID",
			"client_secret": "TWITTER_CLIENT_SECRET",
			"code_verifier": "TWITTER_CODE_VERIFIER"
		},
		"google": {
			"callback_url": "http://localhost:3000/oauth2/google",
			"client_id": "GOOGLE_CLIENT_ID",
			"client_secret": "GOOGLE_CLIENT_SECRET"
		}
	}
}